.App {
  background-color: #e32075;
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: #e32074d6;
  justify-content: center;
  margin: 5%;
  align-items: center;
}

.back,
.microphone,
.settings {
  width: 30%;
  color: white;
}

.headerText {
  color: white;
  text-align: center;
  font-size: 120%;
  margin-left: 5%;
}

.navBar {
  background-color: #e32074d1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e32075;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div.container {
  display: flex;
  height: 50%;
  width: 100%;
  text-align: center;
  background-color: #e32075;
  color: white;
  justify-content: center;
}

.artwork {
  width: 100%;
  height: auto;
}

.artPicture {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.cardDetail {
  width: 100%;
  height: auto;
}

#card {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: space-between;
  background-color: #e32075;
  color: white;
}

.card {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 1;
  width: 50%;
  justify-content: space-between;
  background-color: #e32075;
  color: white;
}

h1.displayTitle {
  text-decoration: underline;
  display: flex;
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #e32075;
}

.post-details {
  margin-left: -15%;
}

a.detailsLink {
  text-decoration: none;
  background-color: #e32075;
  color: white;
}

.brush {
  color: white;
  width: 10%;
}

.detailsLink {
  text-decoration: none;
}
